<h1>My Library</h1>

<%= Viewing.count %>

<% @viewings.each do |viewing| %>
 <%= viewing.serie.title %>
 <%= viewing.episode.title %>
<br>
<% end %>



  <% if @viewings.count == 0 %>
    <p> Nothing marked as watched. </p>
    <% else %>

    <div class="banner">
      <div class="container d-flex justify-content-between">
        <div class="result">
          <% @viewings.each do |viewing|%>
            <div class="result-container m-3">
              <div class="row">
                <div class="col-2 m-2">
                  <%= cl_image_tag viewing.serie.photo.key, height: 240, width: 160, crop: :pad %>
                </div>
                <div class="col-8 mx-3">
                  <h3><%= link_to viewing.serie.title, series_path(viewing.serie) %></h3>
                  <div class="genre-tags">
                    <% viewing.serie.genres.each do |genre|%>
                        <p class="genre">
                          <%= genre.to_s %>
                        </p>
                      <%end%>
                  <div class="platform-tags">
                    <% viewing.serie.platforms.each do |platform| %>
                        <p class="platform">
                          <%= platform.to_s %>
                        </p>
                    <% end %>
                  </div>
                  </div>
                  <p><%=viewing.serie.synopsis%></p>
                </div>
                    </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  <%end%>
