  <% if @likes.count == 0 %>
    <p> You have no series in your wishlist </p>
    <% else %>

    <div class="banner">
      <div class="container d-flex justify-content-between">
        <div class="result">
          <% @likes.each do |like|%>
            <div class="result-container m-3">
              <div class="row">
                <div class="col-2 m-2">
                  <%= cl_image_tag like.serie.photo.key, height: 240, width: 160, crop: :pad %>
                </div>
                <div class="col-8 mx-3">
                  <h3><%= link_to like.serie.title, series_path(like.serie) %></h3>
                  <div class="genre-tags">
                    <% like.serie.genres.each do |genre|%>
                        <p class="genre">
                          <%= genre.to_s %>
                        </p>
                      <%end%>
                  <div class="platform-tags">
                    <% like.serie.platforms.each do |platform| %>
                        <p class="platform">
                          <%= platform.to_s %>
                        </p>
                    <% end %>
                  </div>
                  </div>
                  <p><%=like.serie.synopsis%></p>
                </div>
                <div class="col-1 justify-content-end">
                   <% likes_color_class = like.serie.likes.count != 0 ? "liked" : "normal" %>
                   <div class="<%= likes_color_class %>">
                    <%= link_to(viewed_path(serie: like.serie), method: :post) do %>
                      <i class="fa fa-check-square"></i>
                    <% end %>
                    <%= link_to(like_path(like), method: :delete) do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                    </div>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  <%end%>

