<div class="filter-box">
  <h1>Search filters</h1>
  <br>
  <div class="d-flex justify-content-center">
    <form class="form-inline">
      <%= form_tag series_index_path, method: :get do %>
        <%= text_field_tag :name_query, params[:name_query], class: "form-control", placeholder: "By name..."%>
        <br>
        <br>
        <%= select_tag :genre_query, options_for_select(Serie::GENRELIST, params[:genre_query]), include_blank: true, :prompt => "Genre...", class: "form-control"%>
        <br>
        <br>
        <%= select_tag :platform_query, options_for_select(Serie::PLATFORMLIST, params[:platform_query]), include_blank: true, :prompt => "Platform...", class: "form-control"%>
        <br>
        <br>
        <%= submit_tag "Search", class: "btn search-button" %>
      <% end %>
    </form>
  </div>
</div>