<div class="banner">
  <div class="page-title">
    <h1>Series</h1>
  </div>
  <div class="container d-flex justify-content-between">
    <%= render "search" %>
    <div class="result">
        <% @series.each do |serie|%>
        <div class="result-container m-2">
          <div class="row">
              <div class="col-2 m-2">
                <%= cl_image_tag serie.photo.key, height: 240, width: 160, crop: :pad %>
              </div>
              <div class="col-8 mx-3">
                <h3><%=link_to serie.title, series_path(serie)%></h3>
                <div class="genre-tags">
                  <% serie.genres.each do |genre|%>
                      <p class="genre">
                        <%= genre.to_s %>
                      </p>
                    <%end%>
                <div class="platform-tags">
                  <% serie.platforms.each do |platform| %>
                      <p class="platform">
                        <%= platform.to_s %>
                      </p>
                  <% end %>
                </div>
                </div>
                <p><%=serie.synopsis%></p>
                <p>Release date: <%=serie.release_date.year%>/<%=serie.release_date.month%></p>
              </div>
              <div class="col-1 justify-content-end">
                 <% likes_color_class = serie.likes.count != 0 ? "liked" : "normal" %>
                 <div class="<%= likes_color_class %>">
                    <i class="fas fa-bookmark"></i>
                 </div>
              </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
