<div class="banner">
  <div class="page-title">
    <h1>Series</h1>
  </div>
  <div class="container d-flex justify-content-between">
    <%= render "search" %>
    <div class="result pl-2">
        <% @series.each do |serie|%>
        <div class="result-container ">
          <div class="row">
              <div class="col-2 m-2">
                <%= cl_image_tag serie.photo.key, height: 240, width: 160, crop: :pad %>
              </div>
              <div class="col-8 mx-3" >
                <h3><%=link_to serie.title, series_path(serie)%></h3>
                <div class="genre-tags">
                  <% serie.genres.each do |genre|%>
                      <p class="genre">
                        <%= genre.to_s %>
                      </p>
                    <%end%>
                </div>

                <p class="col-12 overflow-auto" style='height: 150px;'>
                    <%=serie.synopsis%>
                </p>

                <div class="platform-tags">
                  <% serie.platforms.each do |platform| %>
                      <p class="platform">
                        <%= platform.to_s %>
                      </p>
                  <% end %>
                </div>
                   <div class="mb-2 mb-50 d-flex align-items-center">
                <div class="release_date-tags">
                  <p class="release_date">
                    <%= serie.release_date.year%>/<%=serie.release_date.month%>
                  </p>
                </div>
                <div class="release_date-tags">
                  <p class="release_date">
                    <%= serie.seasons.last.season_number %> seasons
                  </p>
                </div>
                <div class="release_date-tags">
                  <p class="release_date">
                    <%= serie.episode_count %> episodes
                  </p>
                </div>
                </div>
              </div>
              <div class="col-1 justify-content-end">
                <% if Like.find_by(user: current_user, serie: serie)%>
                  <%= link_to(like_path(serie.likes.find_by(user: current_user, serie: serie)), class: "added-wishlist", method: :delete) do %>
                  <i class="fas fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to(series_likes_path(serie), class: "add-wishlist", method: :post) do %>
                  <i class="far fa-heart"></i>
                  <% end %>
                <%end%>
              </div>
            </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
