<div class="container">
  <div class="d-flex">
    <!-- Left : Serie Poster Left  -->
    <div class="pl-2">
      <%= cl_image_tag @serie.photo.key, height: 400, width: 300, crop: :pad %>
    </div>


     <!-- Right : Serie Main Features & Seasons -->
    <div class="flex-grow-1 pl-5">

      <div class="mb-3 d-flex align-items-center">
        <h3><%= @serie.title %></h3>

<<<<<<< HEAD
        <div class="viewing mt-50">
          <% viewed = @serie.viewed?(current_user) %>
          <% if viewed %>
            <%= link_to viewing_path(viewed), class: "added-to-view", method: :delete do %>
              <i class="far fa-eye"></i>
          <% end %>
          <% else %>
            <%= link_to viewings_path(viewable_id: @serie.id, viewable_type: @serie.class), class: "add-to-view", method: :post do %>
              <i class="fas fa-eye-slash"></i>
            <% end %>
          <% end %>
        </div>

        <div>
          <% if Like.find_by(user: current_user, serie: @serie)%>
            <%= link_to(like_path(@serie.likes.find_by(user: current_user, serie: @serie)), class: "added-wishlist", method: :delete) do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to(series_likes_path(@serie), class: "add-wishlist", method: :post) do %>
              <i class="far fa-heart"></i>
            <% end %>
          <%end%>
       </div>
=======
      <div class="viewing mt-50" id="<%= @serie.class %>-<%= @serie.id %>">
        <% viewed = @serie.viewed?(current_user) %>
        <% if viewed %>
          <%= link_to viewing_path(viewed), class: "added-to-view", method: :delete, remote: true do %>
            <i class="far fa-check-square"></i>
        <% end %>
        <% else %>
          <%= link_to viewings_path(viewable_id: @serie.id, viewable_type: @serie.class), class: "add-to-view", method: :post, remote: true do %>
            <i class="far fa-square"></i>
          <% end %>
        <% end %>
      </div>

      <div id="like-<%= @serie.id %>">
        <% if Like.find_by(user: current_user, serie: @serie)%>
          <%= link_to(like_path(@serie.likes.find_by(user: current_user, serie: @serie)), class: "added-wishlist", method: :delete, remote: true) do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to(series_likes_path(@serie), class: "add-wishlist", method: :post, remote: true) do %>
            <i class="far fa-heart"></i>
          <% end %>
        <%end%>
     </div>
  </div>

    <div class="mb-2 mb-50 d-flex align-items-center">
      <div class="release_date-tags">
        <p class="release_date">
          <%= @serie.release_date.year%>/<%= @serie.release_date.month %>
        </p>
      </div>
      <div class="release_date-tags">
        <p class="release_date">
          <%= @serie.seasons.last.season_number %> seasons
        </p>
      </div>
      <div class="release_date-tags">
        <p class="release_date">
          <%= @serie.episode_count %> episodes
        </p>
      </div>
>>>>>>> master
    </div>

      <div class="mb-2 mb-50 d-flex align-items-center">
        <div class="release_date-tags">
          <p class="release_date">
            <%= @serie.release_date.year%>/<%= @serie.release_date.month %>
          </p>
        </div>
        <div class="release_date-tags">
          <p class="release_date">
            <%= @serie.seasons.last.season_number %> seasons
          </p>
        </div>
        <div class="release_date-tags">
          <p class="release_date">
            <%= @serie.episode_count %>
          </p>
        </div>
      </div>

      <div class="mb-2 mb-50 d-flex align-items-center">
        <div class="title-tags">
          <div class="title">
            <p>GENRES</p>
          </div>
        </div>
      </div>

      <div class="mb-2 mb-50 d-flex align-items-center">
        <div class="genre-tags">
          <% @serie.genres.each do |genre| %>
            <p class="genre">
              <%= genre.to_s %>
            </p>
          <% end %>
        </div>
      </div>

      <div class="mb-2 mb-50 d-flex align-items-center">
        <div class="title-tags">
          <div class="title">
            <p>PLATFORMS</p>
          </div>
        </div>
      </div>

      <div class="mb-2 mb-50 d-flex align-items-center">
        <div class="platform-tags">
          <% @serie.platforms.each do |platform| %>
            <p class="platform">
            <%= platform.to_s %>
          </p>
        <% end %>
        </div>
      </div>

<<<<<<< HEAD
      <div class="mb-2 mb-50 d-flex align-items-center">
        <div class="title-tags">
          <div class="title">
            <p>SYNOPSIS</p>
          </div>
        </div>
      </div>
=======
    <div class="w-75 mb-2 mt-50 d-flex align-items-center">
      <div class="result">
        <% @serie.seasons.each do |season| %>
          <br>
          <div class="season_title-tags">
            <div class="season_title">
            <div class="viewing mt-50" id="<%= season.class %>-<%= season.id %>">
              <% viewed = season.viewed?(current_user) %>
              <% if viewed %>
                  <%= link_to viewing_path(viewed), class: "added-to-view", method: :delete, remote: true do %>
                    <i class="far fa-check-square"></i>
                  <% end  %>
              <% else %>
                  <%= link_to viewings_path(viewable_id: season.id, viewable_type: season.class), class: "add-to-view", method: :post, remote: true do %>
                    <i class="far fa-square"></i>
                  <% end %>
              <% end %>
            </div>
              <%= season.title %>
            </div>
>>>>>>> master

      <div class="w-75 mb-2 mt-50 d-flex align-items-center">
        <p><%= @serie.synopsis %></p>
      </div>

<<<<<<< HEAD
      <div class="w-75 mb-2 mt-50">
        <div class="result">
          <% @serie.seasons.each do |season| %>
            <br>
            <div class="season_title-tags">
              <div class="season_title">
                <%= season.title %>
                <div class="viewing mt-50">
                  <% viewed = season.viewed?(current_user) %>
                  <% if viewed %>
                      <%= link_to viewing_path(viewed), class: "added-to-view", method: :delete do %>
                        <i class="far fa-eye"></i>
                      <% end  %>
                  <% else %>
                      <%= link_to viewings_path(viewable_id: season.id, viewable_type: season.class), class: "add-to-view", method: :post do %>
                        <i class="fas fa-eye-slash"></i>
                      <% end %>
                  <% end %>
                </div>
              </div>

              <div class="season_synopsis">
                <%= season.synopsis %>
              </div>

              <div class="accordion" id="accordion">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse-<%= season.id %>" >
                  All episodes here
                </button>

                <% season.episodes.each do |episode|%>

                  <div id="collapse-<%= season.id %>" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                      <div class="title-tags">
                          <div class="viewing mt-50">
                            <% viewed = episode.viewed?(current_user) %>
                            <% if viewed %>
                                <%= link_to viewing_path(viewed), class: "added-to-view", method: :delete do %>
                                  <i class="far fa-eye"></i>
                                <% end  %>
                            <% else %>
                                <%= link_to viewings_path(viewable_id: episode.id, viewable_type: episode.class), class: "add-to-view", method: :post do %>
                                  <i class="fas fa-eye-slash"></i>
                                <% end %>
                            <% end %>
                          </div>
                        <div class="title">
                          <p>Episode <%= episode.episode_number %>: <%= episode.title %></p>
=======
            <div class="accordion" id="accordion">
              <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse-<%= season.id %>" >
                All episodes here
              </button>

              <% season.episodes.each do |episode|%>

                <div id="collapse-<%= season.id %>" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <div class="title-tags">
                        <div class="viewing mt-50" id="<%= episode.class %>-<%= episode.id %>">
                          <% viewed = episode.viewed?(current_user) %>
                          <% if viewed %>
                              <%= link_to viewing_path(viewed), class: "added-to-view", method: :delete, remote: true do %>
                                <i class="far fa-check-square"></i>
                              <% end  %>
                          <% else %>
                              <%= link_to viewings_path(viewable_id: episode.id, viewable_type: episode.class), class: "add-to-view", method: :post, remote: true do %>
                                <i class="far fa-square"></i>
                              <% end %>
                          <% end %>
>>>>>>> master
                        </div>
                      </div>
                      <p><%= episode.synopsis%></p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
