<div class="d-flex">

  <!-- Left : Serie Poster Left  -->
  <div class="pl-5">
    <%= cl_image_tag @serie.photo.key, height: 400, width: 300, crop: :pad %>
  </div>

     <!-- Right : Serie Main Features & Seasons -->
  <div class="flex-grow-1 pl-5">

    <div class="mb-3 d-flex align-items-center">
      <h3><%= @serie.title %></h3>
      <% unless Like.find_by(user: current_user, serie: @serie)%>
        <%=link_to "ADD TO MY WISHLIST", series_likes_path(@serie), class: "add_wishlist", method: :post%>
      <%end%>
    </div>

    <div class="mb-2 mb-50 d-flex align-items-center">
      <div class="title-tags">
        <div class="title">
          <p>GENRES</p>
        </div>
      </div>
    </div>

    <div class="mb-2 mb-50 d-flex align-items-center">
      <div class="genre-tags">
        <% @serie.genres.each do |genre|%>
          <p class="genre">
            <%= genre.to_s %>
          </p>
        <%end%>
      </div>
    </div>

    <div class="mb-2 mb-50 d-flex align-items-center">
      <div class="title-tags">
        <div class="title">
          <p>PLATFORMS</p>
        </div>
      </div>
    </div>

    <div class="mb-2 mb-50 d-flex align-items-center">
      <div class="platform-tags">
        <% @serie.platforms.each do |platform| %>
          <p class="platform">
          <%= platform.to_s %>
        </p>
      <%end %>
      </div>
    </div>

    <div class="mb-2 mb-50 d-flex align-items-center">
      <div class="title-tags">
        <div class="title">
          <p>SYNOPSIS</p>
        </div>
      </div>
    </div>

    <div class="w-50 mb-2 mt-50 d-flex align-items-center">
      <p><%= @serie.synopsis %></p>
    </div>


    <div class="w-50 mb-2 mt-50 d-flex align-items-center">
      <div class="result">
        <% @serie.seasons.each do |season|%>
          <div class="season_title-tags">
            <div class="season_title">
              <%= season.title %>
            </div>
          </div>
          <p><%= season.synopsis%></p>
           <% season.episodes.each do |episode|%>
          <div class="title-tags">
            <div class="title">
              <%= episode.title %>
            </div>
          </div>
            <p><%= episode.synopsis%></p>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
